#container-image-showcase{ flex-direction: column; }

#consultation-input-container, #btn-other-pages{
    display: flex;
    align-items: center;
    justify-items: center;
}

#consultation-input-container label{ color: rgb(139, 139, 139); }

#consultation-input-container{ flex-wrap: wrap; }

#consultation-input-container:first-child{ margin-top: 15px; }

#consultation-input-container button{
    width: 100%;
    margin: unset;
}

input{ margin: 0 0 5px 0; }

#config-panel-content{ display: block; }

#btn-other-pages button{ width: 100%; }

table{
    width: 298px;
    max-width: 300px;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.712);
}

table th, table td{ color: rgb(139, 139, 139); }

table th{ font-weight: bold; }

table td{ padding-left: 4px; }
